.form-container{
    text-align: right;
    height: 90%;
    overflow: scroll;
}

#anasorDate{
    display: none;
}
#remoteDate{
    display: none;
}
#emergencyDate{
    display: none;
}
#packageDate{
    display: none;
}

#coolerDate{
    display: none;
}
#fireDate{
    display: none;
}

#capsuleDate{
    display: none;
}
.height-date{
    height: 10%;
}
